.body1{
  background-color: #9266ff;
  background-image: url('https://images.squarespace-cdn.com/content/v1/54c04774e4b0a540ca770ab4/1550689926521-Z043J85HPCX5UAXKQLBN/ke17ZwdGBToddI8pDm48kFyD7pzB8zoMIVY5aiUuFlp7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0jG2lbcDYBOeMi4OFSYem8DMb5PTLoEDdB05UqhYu-xbnSznFxIRsaAU-3g5IaylIg/food-black-overlay.jpg?format=1500w');
  position: relative;
}
.App1{
  background-color: #3f3160;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
}
.home{
    /* The image used */
    background-image: url("https://previews.123rf.com/images/naltik/naltik1708/naltik170800084/83531699-mini-margarita-pizza-italian-food-simple-background-fast-food.jpg");

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: right;
    padding-bottom: 650px;
}

